{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}
 <!--   nombre = models.CharField(max_length=100)
    apellidos = models.CharField(max_length=100)
    fecha_nacimiento = models.DateField()
    lugar_nacimiento = models.CharField(max_length=100)
    biografia = RichTextField()
    foto = models.ImageField(upload_to="persona")
    twitter = models.URLField(blank=True)
    facebook = models.URLField(blank=True)
    instagram = models.URLField(blank=True)
    linkedin = models.URLField(blank=True)
    body = RichTextField(blank=True)
    into = RichTextField(blank=True)
    tags = ClusterTaggableManager(through=BlogPageTag, blank=True)
     -->
         <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>{{ page.nombre }} {{ page.apellidos }}</h1>
                <p>{{ page.fecha_nacimiento }}</p>
                <p>{{ page.lugar_nacimiento }}</p>
                <p>{{ page.biografia }}</p>
                <img src="{{ page.foto.url }}" alt="{{ page.nombre }} {{ page.apellidos }}">
                <p>{{ page.twitter }}</p>
                <p>{{ page.facebook }}</p>
                <p>{{ page.instagram }}</p>
                <p>{{ page.linkedin }}</p>
                <p>{{ page.body }}</p>
                <p>{{ page.into }}</p>
            </div>
        </div>
{% endblock %}
