{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <img class="img-fluid" src="{{ persona.foto.url }}" alt="{{ persona.nombre }} {{ persona.apellidos }}">
      </div>
      <div class="col-md-8">
        <h1>{{ persona.nombre }} {{ persona.apellidos }}</h1>
        <p><strong>Fecha de nacimiento:</strong> {{ persona.fecha_nacimiento }}</p>
        <p><strong>Lugar de nacimiento:</strong> {{ persona.lugar_nacimiento }}</p>
        <p>{{ persona.biografia }}</p>
        <div class="social-links">
          {% if persona.twitter %}
            <a href="{{ persona.twitter }}" target="_blank"><i class="fab fa-twitter"></i></a>
          {% endif %}
          {% if persona.facebook %}
            <a href="{{ persona.facebook }}" target="_blank"><i class="fab fa-facebook"></i></a>
          {% endif %}
          {% if persona.instagram %}
            <a href="{{ persona.instagram }}" target="_blank"><i class="fab fa-instagram"></i></a>
          {% endif %}
          {% if persona.linkedin %}
            <a href="{{ persona.linkedin }}" target="_blank"><i class="fab fa-linkedin"></i></a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
