<!-- footer.html -->
{% load wagtailcore_tags %}
<!--  
    fixed bottom footer
 -->
<footer class="footer mt-auto py-3 bg-light fixed-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>auotor</h3>
                <p>mohamed el Derkaoui Merzouk Bendoukha</p>
            </div>
            <div class="col-md-4">
                <h3>curso</h3>
                <p> 2DAW Desarrollo de aplicaciones web  en lado servidor (C)2022-2023</p>
            </div>
           
        </div>
    </div>
    <!-- 
        dos botones para subir y bajar con js
     -->
     <div>
        <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
        <button onclick="bottomFunction()" id="myBtn" title="Go to bottom">Bottom</button>
     </div>

     <script>
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function() {scrollFunction()};
        
        function scrollFunction() {
          if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementById("myBtn").style.display = "block";
          } else {
            document.getElementById("myBtn").style.display = "none";
          }
        }
        
        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
          document.body.scrollTop = 0;
          document.documentElement.scrollTop = 0;
        }

        // When the user clicks on the button, scroll to the bottom of the document
        function bottomFunction() {
          document.body.scrollTop = 10000;
          document.documentElement.scrollTop = 10000;
        }
     </script>
     
</footer>