{% load wagtailcore_tags %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% slugurl 'home' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% slugurl 'blog' %}">Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% slugurl 'personas' %}">Personas</a>
            </li>
        </ul>
    </div>
</nav>
