{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block content %}
<div class="container">
  <h1>{{ page.title }}</h1>

  <div class="row">
    <div class="col-md-6">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">Party Information</h5>
          <p class="card-text"><strong>Name:</strong> {{ page.nombre }}</p>
          <p class="card-text"><strong>Foundation Date:</strong> {{ page.fundacion }}</p>
          <p class="card-text"><strong>Leader:</strong> {{ page.lider }}</p>
          <p class="card-text"><strong>Description:</strong> {{ page.descripcion }}</p>
          <p class="card-text"><strong>Number of Votes:</strong> {{ page.numero_votos }}</p>
          {% if page.logo %}
          <img src="{{ page.logo.url }}" alt="{{ page.nombre }} Logo" class="img-fluid">
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
