{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ page.title }}</h1>
                {% if page.intro %}
                    <p>{{ page.intro }}</p>
                {% endif %}
                <hr>
            </div>
        </div>
        <div class="row">
            {% for persona_page in persona_pages %}
                <div class="col-md-4">
                    <div class="card">
                        {% if persona_page.main_image %}
                            <img class="card-img-top" src="{{ persona_page.main_image.url }}" alt="{{ persona_page.main_image.title }}">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ persona_page.title }}</h5>
                            {% if persona_page.intro %}
                                <p class="card-text">{{ persona_page.intro }}</p>
                            {% endif %}
                            <a href="{{ persona_page.url }}" class="btn btn-primary">View more</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
