<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <!-- Agregar los archivos de Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0p6" crossorigin="anonymous">
</head>
<body>
    <!-- Inicio del contenedor principal -->
    <div class="container my-5">
        <div class="row">
            <div class="col-md-8">
                <!-- Sección para el nombre y la biografía -->
                <h1>{{ page.title }}</h1>
                <p>{{ page.fecha_nacimiento|date:"d/m/Y" }} - {{ page.lugar_nacimiento }}</p>
                <p>{{ page.biografia|safe }}</p>
<!-- php
Copy code -->
            <!-- Sección para las fotos -->
            <h2>Fotos</h2>
            <div class="row">
                {% for foto in page.fotos.all %}
                    <div class="col-md-4">
                        <img src="{{ foto.foto.url }}" alt="{{ foto.foto.title }}" class="img-fluid">
                    </div>
                {% endfor %}
            </div>

            <!-- Sección para las redes sociales -->
            <h2>Redes sociales</h2>
            <ul>
                {% for red_social in page.redes_sociales.all %}
                    <li><a href="{{ red_social.enlace }}" target="_blank">{{ red_social.nombre }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<!-- Fin del contenedor principal -->

<!-- Agregar los archivos de Bootstrap -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha256-+exJlYs+3q8bZpNkX42dOJzI2tC8S0W2QzJGbA0HXfA=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0p6" crossorigin="anonymous"></script>
</body>
</html>