{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block content %}
  <div class="container">
    <h1>Liga Clasificacion Page</h1>
    <table class="table">
      <thead>
        <tr>
          <th>Equipo</th>
          <th>Puntos</th>
          <th>Partidos Jugados</th>
          <th>Partidos Ganados</th>
          <th>Partidos Empatados</th>
          <th>Partidos Perdidos</th>
          <th>Goles a Favor</th>
          <th>Goles en Contra</th>
        </tr>
      </thead>
      <tbody>
        {% for equipo in page.equipos.all|dictsort:"puntos"|reverse %}
          <tr>
            <td>{{ equipo.nombre }}</td>
            <td>{{ equipo.puntos }}</td>
            <td>{{ equipo.partidos_jugados }}</td>
            <td>{{ equipo.partidos_ganados }}</td>
            <td>{{ equipo.partidos_empatados }}</td>
            <td>{{ equipo.partidos_perdidos }}</td>
            <td>{{ equipo.goles_favor }}</td>
            <td>{{ equipo.goles_contra }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
