{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block content %}
  <div class="container">
    <h1>Liga Partidos Page</h1>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Partido</h5>
        <p class="card-text">Fecha: {{ page.fecha }}</p>
        <p class="card-text">Equipo Local: {{ page.equipo_local }}</p>
        <p class="card-text">Equipo Visitante: {{ page.equipo_visitante }}</p>
        <p class="card-text">Goles Local: {{ page.goles_local }}</p>
        <p class="card-text">Goles Visitante: {{ page.goles_visitante }}</p>
        <p class="card-text">Resultado: {{ page.resultado }}</p>
      </div>
    </div>
  </div>
{% endblock %}
